{% extends 'base.html.twig' %}

{% block title %}Edit Book
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ajout Book</h1>
		{#{{form(form)}}#}
		{{ form_start(form)}}
		{{ form_widget(form)}}
		<input type="submit" value="Ajouter">
		{{ form_end(form)}}
	</div>
{% endblock %}
